@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
p {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Khula";
}

.tabs {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  color: black;
}
.tab {
  width: 200px;
  display: float;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
}
.tab-border-radius-left {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.tab-border-radius-right {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.tab:hover {
  background-color: black;
  color: white;
}

.tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  filter: brightness(0) invert(1);
}

.tab-content {
  margin-top: 20px;
  display: flex;
  gap: 18px;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 70%;

  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.badge {
  position: absolute;
  padding: 8px;
  width: 100px;
  font-size: 10px;
  background-color: white;
  color: black;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.titlevendor {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.title {
  font-weight: bolder;
  font-size: 18px;
}

.card-details {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.price {
  font-size: 14px;
  font-weight: bold;
}

.compare-price {
  text-decoration: line-through;
  color: #999;
  margin-top: 5px;
}

.percent-off {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.add-to-cart {
  background-color: black;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .tabs {
    width: 100%;
  }

  .tab {
    width: 100%;
  }

  .tab-content {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
  .badge {
    width: 120px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .badge {
    width: 120px;
    font-size: 15px;
  }
  .tabs {
    flex-direction: column;
  }

  .tab {
    width: 100%;
    margin-bottom: 10px;
  }

  .tab-content {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}
